.button {
  background-color: var(--color-red);

  border-radius: 5px;
  border: 0;

  color: var(--color-text);

  padding: var(--button-padding, var(--size-unit-2) var(--size-unit-4));

  cursor: pointer;

  font-size: var(--button-font-size, var(--font-size-large));
  text-decoration: none;

  transition: {
    duration: 0.25s;
    property: opacity;
  }

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}
