.container {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  @media screen and (orientation: landscape) and (max-height: 400px) {
    display: none;
  }

  > img {
    width: 100%;
  }

  @include large-mobile {
    position: absolute;

    top: 50%;
    left: 50%;

    width: 600px;
    height: auto;

    transform: translate3d(-50%, -50%, 0);
    padding-top: var(--size-unit-6);
  }
}

.camera {
  width: 100%;
  height: 100%;

  overflow: hidden;

  .img {
    position: absolute;
    width: vh(100);
    max-width: none;
    // height: 100vw;
    height: 100vw;
    transform: rotate(90deg) translateY(-100%);
    transform-origin: top left;

    background-image: url("/camera.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  @include large-mobile {
    position: relative;
    height: 0;
    padding-bottom: 52.5%;

    .img {
      position: absolute;
      width: 100%;
      height: 100%;
      transform: none;
      transform-origin: top left;
    }
  }
}

.preview {
  position: absolute;

  border-radius: 5px;

  // transform: rotate(90deg);
  left: auto;
  right: calc(50% - (var(--vh) * 23));
  top: 40%;
  width: 8vh;
  height: 10vh;

  object-fit: cover;

  @include large-mobile {
    top: 16%;
    left: 45%;
    width: 8%;
    height: 10%;
    transform: translate3d(-50%, -50%, 0);
  }
}

.clicker {
  position: absolute;

  bottom: 15vw;
  right: 15vw;

  width: 80px;
  height: 80px;

  border-radius: 100%;
  background-color: var(--color-text);

  &Btn {
    position: absolute;

    top: var(--size-unit-1);
    left: var(--size-unit-1);
    width: calc(100% - var(--size-unit-2));
    height: calc(100% - var(--size-unit-2));
    -webkit-appearance: none;

    border: 0;
    outline: 0;

    border-radius: 100%;
    background: linear-gradient(
      to bottom right,
      var(--color-red),
      var(--color-red-light)
    );
  }

  &Help {
    position: absolute;
    right: calc(100% + var(--size-unit-2));
    white-space: pre;
    top: 50%;
    opacity: 0;
    color: var(--color-white);
    transform: translate3d(0, -50%, 0);

    &.show {
      opacity: 1;
    }
  }

  @include large-mobile {
    position: absolute;

    bottom: 100%;
    right: 10%;

    width: 48px;
    height: 48px;

    cursor: pointer;
    border-radius: 0;
    background-color: transparent;

    &Help {
      top: auto;
      bottom: var(--size-unit-1);
      transform: none;
      color: var(--color-black);
    }

    &Btn {
      position: absolute;

      bottom: 0;
      left: 0;
      top: auto;
      right: auto;

      width: 100%;
      height: 50%;
      -webkit-appearance: none;

      border: 0;

      background-color: var(--color-red);
      border-radius: 0;

      outline: 0;

      transform-origin: bottom center;
      cursor: pointer;
    }

    &:hover,
    &:focus {
      .clickerBtn {
        transform: scaleY(0.75);
      }
    }

    &:active {
      .clickerBtn {
        transform: scaleY(0.25);
      }
    }
  }
}

.counter {
  position: absolute;

  top: 15%;
  right: 12%;

  border: var(--color-black) 2px solid;
  border-radius: 100%;

  background-color: var(--color-white);
  color: var(--color-red);

  width: 32px;
  height: 32px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileOptions {
  display: block;

  position: absolute;

  bottom: var(--size-unit-4);
  left: 50%;

  transform: translate3d(-50%, 0, 0);

  @include large-mobile {
    display: none;
  }
}

.options {
  display: none;

  bottom: 0;

  grid-template-columns: 1fr;

  align-items: center;

  text-align: center;
  gap: var(--size-unit-2);
  padding: var(--size-unit-6) var(--size-unit-2);

  color: var(--color-red);

  input {
    display: none;
  }

  @include large-mobile {
    display: grid;
  }
}

.btn {
  -webkit-appearance: none;

  padding: 0;
  margin: 0;

  border-radius: 0;
  border: 0;

  font-size: var(--font-size-large);
  background-color: transparent;

  color: var(--color-text);
  outline: 0;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.75;
  }
}

.flash {
  position: absolute;

  background: radial-gradient(white, rgb(243, 241, 236));

  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  z-index: 20;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  visibility: hidden;

  transition: {
    duration: 0.15s;
    property: opacity, visibility;
  }

  .busy & {
    opacity: 1;
    visibility: visible;
  }
}

.advance {
  position: absolute;

  top: 0;
  left: 0;

  width: 100%;

  justify-content: center;

  display: flex;

  background: linear-gradient(45deg, var(--color-red), var(--color-red-light));
  color: var(--color-text);

  border: 0;
  padding: var(--size-unit-3);
  outline: 0;

  transition: {
    duration: 1s;
    property: filter;
  }

  cursor: pointer;

  &:hover,
  &:focus {
    filter: hue-rotate(-180deg);
  }

  @include large-mobile {
    bottom: 0;
    left: 0;

    top: auto;
    right: auto;

    width: 100%;
    font-size: var(--font-size-large);
  }
}
